html, body {
  font-family: Karla;
  height: 100%;
}

.container, .row {
  height: 100%;
}

a {
  color: lightblue;
}

a:hover {
  color: hotpink;
  text-decoration: none;
}

/* Homepage stuff */

.carl-home {
  width: 100%;
  height: 100%;
  background: aliceblue;
}

.link {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.link > a {
  margin: auto;
}

/* composer page stuff */

.carl-composer {
  width: 100%;
  min-height: 100%;
  background: aliceblue;
}

.bio {
  padding-top: 1em;
  font-size: 0.7rem;
  line-height: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-col > img {
  width: 75%;
}

.music-links {
  font-size: 1.5rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.music-links > a {
  margin-bottom: 30px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Homepage stuff */


  /* composer page stuff */
  .carl-composer {
    height: 100%;
  }

  .bio {
    font-size: 0.93rem;
    line-height: 1.7rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
